export(growing_ctrl, auc, getClassifier,getROC,getROC.TR_forest,getROC.TR_TreeRank,getCurves.TR_TreeRank,getCurves.TR_forest)
export(print.TR_TreeRank,print.TR_LRCart)
export(LRCart, LRsvm,LRforest)
export(getPREC,getROC,getCurves)
export(predict.TR_TreeRank, TreeRank,predict.TR_forest,predict.TR_LRsvm, predict.TR_LRforest,predict.TR_LRCart)
export(subTreeRank, varImportance, varImportance.TR_LRCart)
export(varImportance.TR_TreeRank,TreeRankForest,varImportance.TR_forest,varImportance.TR_LRforest)
export(TwoSample,TwoSampleGui)
export(varDep)
export(TRplot,TRGui,plotROC)
S3method(predict,TR_TreeRank)
S3method(predict,TR_LRCart)
S3method(predict,TR_LRforest)
S3method(predict,TR_LRsvm)
S3method(predict,TR_forest)
S3method(print,TR_LRCart);
S3method(print,TR_TreeRank);
S3method(getROC,TR_TreeRank);
S3method(getROC,TR_forest);
S3method(getPREC,TR_TreeRank);
S3method(getPREC,TR_forest);
S3method(getCurves,TR_TreeRank);
S3method(getCurves,TR_forest);
S3method(varImportance,TR_TreeRank);
S3method(varImportance, TR_forest);
S3method(varImportance,TR_LRCart);
S3method(varImportance,TR_LRforest);
